.login-register-form {
  .content {
    width: 900px;
    margin: auto;
    padding: 3rem;

    .login-register-section {
      width: 100%;
      height: 100%;
      background-color: white;
      position: relative;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;

      .slider {
        width: 50%;
        height: 100%;
        background: linear-gradient(0deg, rgba(var(--dark), .75), rgba(var(--dark), .45)), url("../assets/images/slider-bg-image.jpg");
        background-position: center center;
        background-size: cover;
        position: absolute;
        left: 50%;
        transition: all 0.5s ease;

        &.login {
          left: 0%;
        }

        &.register {
          left: 50%;
        }
      }

    }
  }
}